<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index,follow">
        <meta name="description" content="Login para ver tu informacion">
        <title>EIAPI | Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css')}}">
        
    </head>
<body>
    <main>
        <div class="container">
            <header class="header">
                <img src="../static/images/Logo.png" class=img1 align="left">
                <br>
            </header>
        </div>
        <div class="container-login">
            <div class="wrap-login">
                {% if signup %}
                    <h1>SIGN UP</h1>
                    <img src="../static/images/Iconcolor.png" class="logo">
                    <p>Registrese con su correo educativo</p>
                    <form method="POST" action="">
                        <input placeholder="Correo:" required class="input" name="email" type="text">
                        <input id="ipass" type="password" class="input" name="password" placeholder="Contraseña:" required>
                        <br> 
                        {% if error %}
                            <code class="error_login">Credenciales no validos</code>
                        {% endif %}
                        <br>
                        <input type="submit" value="Sign up" class="submit">
                        <br>
                    </form>
                {% else %}
                    <h1>LOG IN</h1>
                    <img src="../static/images/Iconcolor.png" class="logo">
                    <p>Ingrese con su usuario de EIA Digital</p>
                    <form method="POST" action="">
                        <input placeholder="Usuario:" required class="input" name="username" type="text">
                        <input id="ipass" type="password" class="input" name="password" placeholder="Contraseña:" required>
                        <br> 
                        {% if error %}
                            <code class="error_login">Usuario y/o contraseña invalidos</code>
                        {% endif %}
                        <br>
                        <input type="submit" value="INGRESAR" class="submit">
                        <br>
                        <a href="/signup">SIGN UP</a>
                    </form>
                    
                {% endif %}
            </div>
        </main>
</body>

</html>